.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    
    width: 60%;
    background-color: rgba(255,255,255, 0.3);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.title {
    color: #0ed3f6;
    display: flex;
    justify-content: space-between;
}

.main {
    padding: 15px;
}


.likes {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
}

.rating {
    padding: 10px;
}

