<div class="container">
    <div class="card">
        <div class="title">
            <p>Viktor Wallin</p><span>24-08-22</span>
        </div>
        <div class="main">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, unde ut! Dignissimos similique necessitatibus, veritatis officiis minima incidunt odio nostrum, et amet voluptatibus enim itaque iusto eius possimus, nemo placeat!
            </p>
        </div>
        <div class="likes">
            <span class="heart">
                ♥
            </span>
        </div>
    </div>

</div>